*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  opacity: 1;
  height: 98vh;
}

.tracker {
  color: white;
}

.gameContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  grid-template-rows: repeat(3, minmax(100px, 200px));
  justify-content: center;
}

.gameContainer div {
  background-color: #3a365b;
  border: solid;
  border-width: 2px;
  padding: 5px;
  color: #45b7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.gameContainer div:hover {
  opacity: 90%;
  cursor: pointer;
}

.gameContainer div:active {
  transform: translateY(4px);
}
